<!-- DELETE MODAL -->
<div class="modal modal__delete hidden">
  <button class="btn--close-modal btn--close-delete">&times;</button>
  <h2 class="modal__header">Are you sure?</h2>
  <form class="modal__form modal__form--delete">
    <button class="btn btn--submit btn__delete">Yes</button>
  </form>
</div>
