<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/" class="logo">FunFactsBlog</a>
      </nav>
      <a href="/facts" class="btn btn--back">&larr; Back to facts</a>

      <%- include('./partials/factForm.ejs') %> <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
